@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: normal;
    font-style: normal
}

body {
    box-sizing: border-box
}

*:focus {
    outline: none
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit
}

ul {
    list-style: none
}

.section-news {
    background: #f3f6ff;
    padding-bottom: 90px
}

.wrapper {
    position: relative;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

/*标题及左右背景图片*/
.bar {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center
}

.bar h1 {
    position: relative;
    display: inline-block;
    margin: 0 auto 20px;
    line-height: 30px;
    padding: 0 30px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: #383e63
}

.bar h1:before {
    content: "";
    width: 66px;
    height: 13px;
    background: url(../images/ei-v3-title_dark_r.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 100%
}

.bar h1:after {
    content: "";
    width: 66px;
    height: 13px;
    background: url(../images/ei-v3-title_dark_l.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 100%
}

.news-body {
    position: relative
}

/*左侧图片*/
/*.news-pic-box {*/
/*	position: absolute;*/
/*	top: 12px;*/
/*	left: 0;*/
/*	width: 420px;*/
/*	height: 280px;*/
/*	background: url(./../images/t.png);*/
/*	background-position: center;*/
/*	background-size: cover*/
/*}*/
/*右侧轮播*/
.news-text {
    box-shadow: 0 15px 30px 10px rgba(196, 203, 222, 0.43);
    border-radius: 2px;
    padding-left: 40px;
    margin-left: 380px;
    background-color: white;
    height: 304px
}

.news-body:after {
    content: "";
    display: table;
    clear: both
}

.news-text-content {
    position: relative;
    overflow: hidden;
    height: 100%
}

.news-text-content ul {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: content-box
}

.news-text-content li {
    padding: 30px 60px;
    height: 100%;
    position: relative
}

.news-text-content h1 {
    max-height: 56px;
    font-size: 22px;
    line-height: 24px;
    color: #383e63;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    transition: .2s;
    margin-bottom: 10px
}

.news-text-content h1 a {
    display: block
}

.news-text-content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #737895;
    position: relative
}

/*引号*/
.news-text-content p:before {
    content: "";
    width: 21px;
    height: 18px;
    background: url(../images/ei-v3-point.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -28px;
    right: -31px
}

.news-text-content p:after {
    content: "";
    width: 21px;
    height: 18px;
    background: url(../images/ei-v3-point.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -31px;
    transform: rotatez(180deg)
}

/*悬停标题颜色*/
.news-title-content:hover {
    cursor: pointer
}

.news-title-content:hover h1 {
    color: #f66f6a
}

/*分页*/
.news-text-pagination {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    line-height: 4px;
    z-index: 10;
    bottom: 10px;
    width: 100%;
    text-align: center
}

.news-text-pagination span {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background: #666a75;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
    opacity: .2;
    cursor: pointer
}

.news-text-pagination span.on {
    background: #f66f6a;
    opacity: 1
}

/*按钮*/
.cui-btn {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    border: solid 1px transparent;
    border-radius: 2px;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: 0.2s;
    border-color: #f66f6a;
    background-color: #f66f6a;
    color: #fff
}

.cui-btn:hover {
    box-shadow: 0 8px 16px rgba(246, 111, 106, 0.5)
}


.cui-btn1 {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    border: solid 1px transparent;
    border-radius: 2px;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: 0.2s;
    border-color: #ddc629;
    background-color: #ddc629;
    color: #fff
}

.cui-btn1:hover {
    box-shadow: 0 8px 16px rgba(246, 111, 106, 0.5)
}