<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}"/>
</head>

<body>


<div class="section-news">
    <div class="wrapper">
        <div class="ei-title bar">
            <h1>我的收藏</h1>
        </div>

        {% for field in query %}

            <div class="agent-body">
                <div class="news-body">
                    {#                <div class="news-pic-box"></div>#}
                    <div class="news-text">
                        <div class="news-text-content">
                            <ul>
                                <li>
                                    <div class="news-title-content">
                                        <h1 class="js-title"><a
                                                href="{% url 'mysql_detail' %}?id={{ field.community.id }}">{{ field.community.name }}</a>
                                        </h1>
                                        <p class="js-title">
                                            <a href="#">收藏时间:{{ field.create_time }}</a>
                                        </p>
                                        <p class="js-title">
                                            <a href="#">社团类型:{{ field.community.community_type.name }}</a>
                                        </p>
                                        {#                                        <p class="js-title">#}
                                        {#                                            <a href="#">处理进度:{{ field.book.userinfo.username }}</a>#}
                                        {#                                        </p>#}
                                    </div>
                                    <a class="cui-btn"
                                       href="{% url 'mysql_detail' %}?id={{ field.community.id }}">查看详情</a>
                                    <a class="cui-btn"
                                       href="{% url 'home' %}">返回首页</a>
                                </li>


                            </ul>
                            {#                        <div class="news-text-pagination">#}
                            {#                            <span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span#}
                            {#                                class="swiper-pagination-bullet"></span><span#}
                            {#                                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>#}
                            {#                        </div>#}
                        </div>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>
</div>

<!--jQuery框架库-->
<script src="{% static 'plugin/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>

<!--插件-->
<script src="{% static 'others/js/jquery.SuperSlide.2.1.3.js' %}" type="text/javascript" charset="utf-8"></script>

<!--调用方法-->
<script type="text/javascript">
    jQuery(".news-text").slide({
        mainCell: ".news-text-content ul",
        autoPlay: false,
        titCell: ".news-text-pagination span",
        trigger: "click",
        effect: "left"
    });
</script>

</body>
</html>