{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'ptp_admin/css/plugins1/bootstrap/css/bootstrap.min.css' %}"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <p>邮箱：<input type="text" name="email" id="id_email"></p>
    <p>密码：<input type="text" name="password"></p>
    <p><input type="button" id="id_btn" value="发送验证码" class="btn btn-success"></p>
    <p>验证码：<input type="text" name="h_code"></p>
    <button>提交</button>
</form>
<script src="{% static 'ptp_admin/js/jquery.min.js' %}"></script>
{#<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>#}
<script src="{% static 'ptp_admin/js/bootstrap.min.js' %}"></script>
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"#}
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script>
    $('#id_btn').click(function () {
        $.ajax({
            url: '{% url "send_email_code" %}',  // ajax请求要请求的地址
            type: "get", // 请求的类型  get  post
            data: {email: $('#id_email').val()}, // 请求要发送的数据  常在post请求中使用，get请求只需要拼接请求的url就可以
            success: function (data) {
                alert('成功')
            }

        })
    })
</script>
</body>
</html>